
version: 2.1

orbs:
  node: circleci/node@7.0.0
  codecov: codecov/codecov@5.2.0

jobs:
  build_and_test:
    resource_class: small
    executor: node/default
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: npm
      - run:
          command: npm run test
          name: Run tests
      - codecov/upload

workflows:
  test_my_app:
    jobs:
      - build_and_test
